.App {
  text-align: center;
}
.App-header {
	height: 50px;
  background-color: #cccccc;
  /* background-image: linear-gradient(rgb(238, 109, 152), rgb(52, 201, 228));  */
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.App-body {
  background-image: url('./listing_9.jpg');
  background-size: cover
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
